.header_section{
	background-color: black;
	height: 100vh;
position: relative;

}
.header{
	display: flex;
	justify-content: space-between;
}
.par_h_section{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: aliceblue;
	text-align:center ;
}
.title{
	text-transform: uppercase;
}
.btu_hero{
	height: 40px;
	width: 150px;
	background-color: #fa694e;
	border: none;
	border-radius: 2%;
	color: white;
}
.tog{
	color: brown;
	font-size:50px;
}
.icon_section{
	display:flex ;
	justify-content:space-around;
	text-align: center;

}
.icon_section i{
	
	border: 2px solid black;
	border-radius: 50%;
	font-size: 40px;
	padding: 10px;
}
.padding{
	padding-top:40px ;
	padding-bottom:40px ;
}
.task_para{
	text-align: center;
	line-height: .5;

}
.para_hadding{
	text-transform: capitalize;
}
.para_p{
color: rgb(104, 108, 108);
}
.image_par{
	display: flex;
	justify-content: space-between;
width: 75%;
padding-left: 150px;

}
.image1{
	background-color: rgb(168, 166, 166);
	width: 50%;
}
.text1{
	width: 50%;
	border: rgb(168, 166, 166);
	

}
.image-section{
	width: 90%;
	display: flex;
justify-content: space-between;
flex-wrap: wrap;

}
.image_pro{
	background-color:rgb(8, 8, 8) ;
	width: 400px;
	height: 400px;

	
}
.image_mother{
	padding-left: 30px;
	padding-bottom: 30px;
}
.map_content{
	padding-left:  250px;
}
.map{
	background-color: #808080;
	width: 70% ;
	height: 200px;
	position:relative;
	
}
.map_text{
	position: absolute;
    top: 50%;
    left: 50%;
	color: #fa694e;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border: 1px solid #3333;
    background-color: #333333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}